label, body, h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

h1, label {
  font-weight: 700;
}

div#form-container {
  background-color: #efefef;
  display: flexbox;
  padding-top: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#listing-form-title {
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: .25vw;
}

#listing-form-title, #submit-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#form-container > label.input-field {
  padding-left: 10vw;
  padding-right: 10vw;;
  text-align: left;
}

#form-container > .input-box {
  padding-left: 10vw;
  padding-right: 10vw;
}

label.input-field {
  margin-right: auto;
  /* text-align: left; */
  font-size: 1.5vw;;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

input.input-box, select.input-box, textarea.input-box {
  margin-top: 1vw;
  margin-bottom: 1vw;
  height: 3.5vw;
  width: 30vw;
  border-radius: 10px;
  border-width: 2px;
  border-color: #a5a5a5;
}

textarea.input-box {
  height: 6vw;
}

#submit-button {
  background-color: rgb(252, 252, 252);
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 1.5vw;
  height: max-content;
  font-weight: 700;
  text-emphasis-style: bold;
  width: 31vw;
  margin-top: 2vw;
  border: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}

#submit-button:hover {
  transition: .25s;
  cursor: pointer;
  background-color: #0F749A;
  color: rgb(252, 252, 252);
  border: #0F749A;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
}

/* ul {
  text-decoration: none;
} */