#post-submit-button {
  background-color: rgb(252, 252, 252);
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 1.5vw;
  height: max-content;
  font-weight: 700;
  text-emphasis-style: bold;
  width: 31vw;
  margin-top: 2vw;
  border: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}

#post-submit-button:hover {
  transition: .25s;
  cursor: pointer;
  background-color: #0F749A;
  color: rgb(252, 252, 252);
  border: #0F749A;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
}