.ind-tile {
  height: 10vw;
  scale: 55%;
  margin-left: -5vw;
  margin-right: -5vw;
}

ul.listing-grid {
  overflow-y: auto;
  border: solid;
  border-radius: 12px;
  padding: 1vw;
  padding-top: -2vw;
  margin-top: 1vw;
  height: 25vw;
}