.review-tile-container {
  width: 20vw;
  min-height: 7vw;
  height: fit-content;
  background-color: #EFEFEF;
  display: block;
  text-align: left;
  padding: 2vw;
  /* margin-top: 2vw; */
  margin-right: -5vw;
  border-radius: 15px;
  scale: 70%;
}

#reviewer-name-model {
  margin-top: -.75vw;
  font-weight: 400;
  font-size: 1.5vw;
  margin-bottom: -1.5vw;
} 

.star-display {
  text-align: center;
  margin-bottom: -4.5vh;
  scale: 75%;
  margin-left: -4vw;
  margin-right: -4vw;
}

#tile-hori-line {
  margin-bottom: 0vw;
  width: 20.5vw;
}

#tile-desc-text {
 font-style: italic;
}

#reviewed-model {
  font-weight: 400;
  font-size: 1.9vw;
}

#user-review-actions {
  display: flex;
  vertical-align: auto;
}


.vl#user-review-vertical-line {
  width: 5vw;
  height: 2vw;
  /* margin-right: 0; */
  margin-top: 2vw;
}

button#edit-review, button#delete-review {
  scale: 60%;
  margin-top: .5vw;
  margin-bottom: .5vw;
  min-width: max-content;;
  /* background-color: rgb(252, 252, 252); */
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: max(1.75vw);
  justify-content: space-between;
  vertical-align: middle;
  height: 2vw;
  font-weight: 500;
  text-emphasis-style: bold;
  border: none;
  border-width: 1.25px;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin-left: -3vw;
  /* margin-right: .5vw; */
}

.model-edit {
  border-radius: 15px;
}