form, body, h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

div.non-logged-in-review-form-container {
    text-align: center;
    height: 22vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #a5a5a5;
    width: 80vw;
    padding: 2vw;
    padding-top: .5vw;
    /* padding-left: 4vw; */
    margin-top: 2vw;
    border-radius: 15px;
}

.review-form-container {
  /* align-items:left; */
  /* align-content: center; */
  text-align: center;
  height: 22vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  width: 80vw;
  padding: 2vw;
  padding-top: .5vw;
  /* padding-left: 4vw; */
  margin-top: 2vw;
  border-radius: 15px;
}

.edit-review-form-container {
  text-align: center;
  height: 22vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  width: 80vw;
  padding: 2vw;
  padding-top: .5vw;
  /* padding-left: 4vw; */
  margin-top: 2vw;
  border-radius: 15px;
}

.star-container, img.star {
  text-align: center;
  width: 4vw;
  height: auto;
  margin-left: .1vw;
  /* margin-right: .1vw; */
  scale: 80%;
}

.star-value-button {
  display: none;
}

div.stars {
  margin-left: -1vw;
  margin-bottom: -2vw;
}

button.star-container {
  background: none;
  border: none;
  color: none;
  margin-left: -.5vw;
  margin-right: -.5vw;
  margin-bottom: -2vw;
}

ul {
  text-decoration: none;
}

label#label-for-desc, h2#label-desc-text {
  font-size: 1.5vw;
  font-weight: 400;
  margin-bottom: -.5vw;
}

#review-description-input {
  width: 40vw;
  border-radius: 15px;
  border: none;
  padding: 1vw;
  /* height: 25vw; */
}

h2#label-star {
  margin-bottom: .2vw;
  font-size: 2vw;
  font-weight: 400;
}

button#submit-review {
  scale: 60%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background-color: rgb(252, 252, 252);
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 2vw;
  height: 8vw;
  font-weight: 400;
  text-emphasis-style: bold;
  border: none;
  border-width: 1.25px;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

button#submit-review:hover {
  transition: .25s;
  cursor: pointer;
  background-color: #0F749A;
  color: rgb(252, 252, 252);
  border: #0F749A;
  border-style: solid;
  border-radius: 30px;

}