.listing-image#cart-preview-image {
  /* padding-top: 5vw; */
  /* margin-bottom: -5.5vw; */
  margin-top: -4.5vw;
  vertical-align: middle;
  width: 7vw;
  height: 7vw;
  border-radius: 20px;
  object-fit: cover;
  text-decoration: none;
}

#cart-image-container {
  padding: 2vw;
}

div.cart-tile-container, div.cart-end-tile-container {
  transition: .1s;
  background-color: #efefef;
  border-radius: 20px;
  align-items: left;
  display: flex;
  justify-content: space-between;
  /* background-color: #efefef; */
  /* padding: 2vw; */
  width: 80vw;
  margin-left: -9vw;
  height: 10vw;
  max-height: 10vw;
  font-size: 3vw;
  /* justify-content: center; */
  /* padding-bottom: 0; */
  /* padding-left: .25vw;
  padding-right: .25vw; */
}

.hl#cart-hl {
  width: 65vw;
  margin-top: 2vw;
}

div.cart-end-tile-container {
  margin-left: -8.5vw;
}

div.cart-tile-container:hover {
  /* background-color: #00A5D1; */
  box-shadow: 0 0 5px #0F749A;
  transition: .1s;
  cursor: pointer;
}

/* .child-ele#preview-image {
  width: inherit;
  height: auto;
} */

#cart-tile-link {
  text-decoration: none;
  background: none;
}

#cart-title-div {
  max-width: inherit;
  max-height: 20vw;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: left;
}

h1#cart-listing-title.child-ele {
  font-size: 2vw;
  font-weight: 300;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3.75vw;
  margin-left: -25vw;
  /* margin-bottom: -8.5vw; */
  display: -webkit-box;
  /* margin-bottom: 3vw; */
  -webkit-line-clamp: 2;
    /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  vertical-align: middle;
}

h3#cart-price, h3#cart-subtotal-price {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
  text-align: right;
  font-weight: 300;
  margin-top: 3.75vw;
  margin-right: 2vw;
  /* margin-bottom: -7.75vw; */
  text-decoration: none;
}

div.price-delete-container {
  display: flex;
  flex-direction: row;
}

button.cart-item-delete-button {
  border: none;
  background: none;
  width: 4vw;
  height: 4vw;
  border-radius: 25%;
  margin-right: 2vw;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.5s;
}

button.cart-item-delete-button:hover {
  background-color: #0b536d;
  transition: 0.5s;
  cursor: pointer;
}

button.cart-item-delete-button:hover > i#x-mark {
  filter: brightness(500%);
  transition: 0.5s;
}

i#x-mark {
  scale: 150%;
  transition: 0.5s;
  cursor: pointer;
}

/* i#x-mark:hover {
  filter: invert(100%);
} */
