div#cart-page {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

div#cart-top {
  display: flex;
  flex-direction: row;
  height: min-content;
}

div#cart-bottom {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

div#cart-checkout {
  margin-top: 3vh;
  margin-left: -6.5vw;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

div#cart-left {
  padding-right: 0vw;
  margin-right: -2vw;
}

div#cart-right {
  height: inherit;
  padding: 2vw;
  /* background-color: #efefef; */
  border-radius: 20px;
  width: 27vw;
}

button#checkout-button {
  background-color: #FCFCFC;
  border: solid #0F749A;
  border-width: 1px;
  color: #0F749A;
  width: 25vw;
  height: 8vh;
  border-radius: 20px;
  font-size: 2vw;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  transition: 0.75s;
}

button#checkout-button:hover {
  width: 25vw;
  background-color: #0F749A;
  color: white;
  transition: 0.75s;
  height: 8vh;
  border-radius: 20px;
  border: none;
  font-size: 2vw;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.cart-ind-tile, .cart-end-ind-tile {
  height: 7vw;
  display: inline-flex;
  scale: 75%;
  /* margin-left: -5vw;
  margin-right: -5vw; */
}

.cart-tax-container {
  scale: 75%;
}

ul.cart-listing-grid {
  /* background-color: #efefef; */
  margin-right: -2vw;
  text-align: center;
  width: 95%;
  display: grid;
  row-gap: 2vh;
  /* overflow-x: auto; */
  /* border: solid #efefef;
  border-radius: 12px; */
  padding: 0;
  padding-top: -5vw;
  margin-top: 1vw;
  margin-left: -2vw;
  height: auto;
}

div.cart-tax-container {
  margin-top: auto;
  margin-bottom: 0;
}

.channel-main {
  overflow-x: scroll;
  max-width: 40px;
}

::-webkit-scrollbar {
  height: 3.5px;
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #bdbdbd;
  margin: 3px 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2e33385b;
}