.cart-ind-tile, .cart-end-ind-tile {
  height: 7vw;
  display: inline-flex;
  scale: 75%;
  margin-left: -5vw;
  margin-right: -5vw;
}

ul.listing-grid {
  /* background-color: #efefef; */
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  width: 100%;
  display: grid;
  row-gap: 2vh;
  /* overflow-x: auto; */
  /* border: solid #efefef;
  border-radius: 12px; */
  padding: 0;
  padding-top: -5vw;
  margin-top: 1vw;
  margin-left: .75vw;
  height: auto;
}

.channel-main {
  overflow-x: scroll;
  max-width: 40px;
}

::-webkit-scrollbar {
  height: 3.5px;
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #bdbdbd;
  margin: 3px 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #2e33385b;
}