h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}


#splash-container {
  text-align: center;
}

#splash-screen {
  /* width: 40vw; */
  /* text-align: center; */
  width: 90vw;
  height: 35vw;
  object-fit: none;
  object-fit: cover;
  border-radius: 15px;
}

#nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-title {
  font-size: 2.5vw;
  margin-bottom: -2vw;
  text-align: left;
  float: left;
  margin-right: auto;
  margin-left: 9vw;
}

#home-feed-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

