/* TODO Add site wide styles */

body {
  /* padding: 1vw; */
  margin: none;
  padding: none;
  align-items: center;
  align-content: center;
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #198a80;
  --height: 100px
}


